html,body{
    height: 100%;
    font-size: 16px;
    font-family: 'Nunito-Light';
}
/*FONT FACES*/
@font-face{
    font-family: 'Cubano-Regular';
    src: local('Cubano-Regular.otf'), url('Cubano-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Nunito-Light';
    src: local('Nunito-Light.ttf'), url('Nunito-Light.ttf') format('truetype');
}

table{
  font-size: 0.7rem;
}

.thead-default th{
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255,255,255,1);
  font-size: 1rem;
}

 .head_date{
   background-color: rgb(180,180,180);
   text-align: center;
 }

 .heading{
   font-size: 0.8rem;
   font-family: 'Nunito-Light';
 }

.act_date{
  background-color: rgb(210,210,210);
  font-size: 0.8rem;
}

tr {
   line-height: 0.9rem;
   min-height: 0.5rem;
   height: 0.5rem;
}
.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding: 0.2rem;
    margin: 0rem;
}
.table td, .table th {
    vertical-align: top;
    border-top: 0px ;
}

 .recommended{
   background-color: rgb(189,238,189);
 }

 .catching-up{
   background-color: rgb(240,248,255);
 }
